<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- OGP -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://godel-notes.github.io/godel-incompleteness-ja/">
  <meta property="og:image" content="https://godel-notes.github.io/godel-incompleteness-ja/ogp.png">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">

  <!-- Google Search Console -->
  <meta name="google-site-verification" content="6dG54M_a70wKXEP828lQC4O6r4CyxKmDOo_LSFGp8bc" />
</head>

<body>
  {{ content }}
</body>
</html>
